#menu {
    display: flex;
  }
  img {
    width: 300px;
    border: 2px solid black;
  }
  #display {
    background-color: aliceblue;
    text-align: center;
    margin-left: 10%;
    margin-right: 15%;
  }

  ul{
border: 1px solid black;
  }
  nav{
    text-align: centre;
  }